@import "tailwindcss";

:root {
  --background: #fffefd;
  --foreground: #0b1215;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-poppins: var(--font-poppins);
  --color-primary: #104588;
  --color-secondary: #76aaef;
}

@media (prefers-color-scheme: white) {
  :root {
    --background: #0a0a0a;
    --foreground: #fffefd;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
.hide-arrows::-webkit-inner-spin-button,
.hide-arrows::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hide-arrows {
  -moz-appearance: textfield;
}
